<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="header">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
        <link rel="stylesheet" href="resources/lib/css/reset.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="resources/lib/css/icons.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="resources/lib/css/workspace.css" type="text/css" media="screen" charset="utf-8"/>

        <script src="resources/js/vendor/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
        <title>Title</title>
    </head>

    <body>
        <div class="skin">
            <div class="content">
                <div th:include="include :: menu"></div>
                <div th:include="include :: logo"></div>

                <div class="postbox">
                    <table class="box-table-a">
                        <caption>Detalle OCW</caption>
                        <thead>
                            <tr>
                                <th scope="col" th:text="#{item.ocw.titulo}">Titulo</th>
                                <th scope="col" th:text="#{item.ocw.Universidad}">Universidad</th>
                                <th scope="col" th:text="#{item.ocw.Country}">Pais</th>
                                <th scope="col" th:text="#{item.ocw.License}">Licencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.title}">1</td>
                                <td th:text="${item.universidad}">1</td>
                                <td th:text="${item.country}">1</td>
                                <td th:text="${item.city}">1</td>
                                <td th:text="${item.license}">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:include="include :: footer"></div>
        </div>	
    </body>
</html>