<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="header">
        <meta charset="utf-8" />
        <title>resultado</title>
    </head>

    <body>

        <table class="box-table-a">
            <caption th:text="#{users.table.caption}">Cursos OCW</caption>
            <thead>
                <tr>
                    <th scope="col" th:text="#{item.ocw.titulo}">Id</th>
                    <th scope="col" th:text="#{item.ocw.Universidad}">Universidad</th>
                    <th scope="col" th:text="#{item.ocw.Lenguaje}">Lenguaje</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.titulo}">1</td>
                    <td th:text="${item.universidad}">1</td>
                    <td th:text="${item.lenguaje}">1</td>
                    
                    <td>
                        <a class="edit" href="#" th:href="@{/busqueda/detallar(id=${item.idCourse})}">Detallar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>