<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="header">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
        <link rel="stylesheet" href="resources/lib/css/reset.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="resources/lib/css/icons.css" type="text/css" media="screen" charset="utf-8"/>
        <link rel="stylesheet" href="resources/lib/css/workspace.css" type="text/css" media="screen" charset="utf-8"/>

        <script src="resources/js/vendor/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
        <title>Title</title>
    </head>

    <body>
        <div class="skin">
            <div class="content">
                <div th:include="include :: menu"></div>
                <div th:include="include :: logo"></div>

                <div class="postbox">
                    <div id="search_box_container">
                        <form id="formBusqueda">
                            <input type="text" id="campoBusqueda" placeholder="Ingresar consulta" required="" name="campo"/>
                            <input type="submit" value="Buscar" />
                        </form>
                        
                    </div>
                    <div id="search_query">&nbsp;</div>
                    <div id="resultado"></div>

                    <script type="text/javascript" charset="utf-8">
                        $(document).ready(function() {
                            $( "#formBusqueda" ).submit(function( event ) {
                                console.log($('#campoBusqueda').val());
                                event.preventDefault();
                                var data = "q=" + $('#campoBusqueda').val();
                                $.ajax(
                                {
                                    // puede ser "get" y "post"
                                    type: "get",
                                    // el módulo que hará la búsqueda
                                    url: "busqueda/consultar",
                                    // los datos para la consulta
                                    data: data,
                                    // que hacer si funciona 
                                    success: recuperarConsulta_callback
                                });
                             });    
                        });
                        
                        // recupera la informacion de los registros de la consulta
                        function recuperarConsulta_callback(ajaxResponse, textStatus)
                        {
                           $("#resultado").html(ajaxResponse);
                           console.log("resultado: " + ajaxResponse);
                        }
                        
                    </script>
                </div>
            </div>
            <div th:include="include :: footer"></div>
        </div>	
    </body>
</html>