<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<title th:text="#{welcome.title}">Titulo</title>
</head>

<body>
	<div class="skin">
		<div class="content">
			<div th:include="include :: menu"></div>
			<div th:include="include :: logo"></div>
			
			<div class="welcome">
				<p>Bienvenido <span class="authname" th:text="${authname}">Usuario</span> a Buscador Web! Esta aplicacion le permitira hacer lo siguiente: </p>
				<ul>
					<li>Ver su perfil de Facebook</li>
					<li>Ver su perfil de Twitter</li>
					<li>Actualizar su estado de Facebook</li>
					<li>Publicar un nuevo Tweet</li>		
				</ul> 
				
				<p>Usted necesita una cuenta de Facebook o Twitter para publicar y acceder a su perfil desde este sitio.</p>
			</div>
		</div>
		<div th:include="include :: footer"></div>
	</div>	
</body>
</html>