<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:fragment="header">
    <meta charset="utf-8" />
	<link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<title th:text="#{connected.title.fb}">Titulo</title>
</head>

<body>
	<div class="skin">
		<div class="content">
			<div th:include="include :: menu"></div>
			<div th:include="include :: logo"></div>
			
			<div class="connect">
				<h3 th:text="#{connected.h3.fb}">¡Éxito! Se ha conectado al Sitio social!</h3>
				<p>
					<span th:text="#{app.name}">App Name</span>
					<span> Se ha conectado a su cuenta.
					Click en el botón si desea desconectarse.</span>
				</p>
				
				<form id="disconnect" action="#" th:action="@{#{${'disconnect.url.fb'}}}" method="post">
					<button type="submit" th:text="#{disconnect.button.fb}">Desconectar</button>	
					<input type="hidden" name="_method" value="delete" />
				</form>
			</div>
		</div>
		<div th:include="include :: footer"></div>	
	</div>
</body>
</html>