<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<title th:text="#{connect.title.fb}">Titulo</title>
</head>

<body>
	<div class="skin">
		<div class="content">
			<div th:include="include :: menu"></div>
			<div th:include="include :: logo"></div>

			<div class="connect">
				<h3 th:text="#{connect.h3.fb}">Conectando al sitio...</h3>
				<div>
					<form action="#" th:action="@{#{${'connect.form.action.fb'}}}" method="POST">
						<input type="hidden" name="scope" value="publish_stream,offline_access" />
						<p th:text="#{connect.message.fb}">Usted no se ha creado ninguna conexión social con el sitio todavía. 
                                                    Haga clic en el botón para crear una conexión a su cuenta y su perfil del sitio social. 
                                                    (Se le redireccionará a Facebook, donde se le pedirá que autorice la conexión.)</p>
						<button type="submit" th:text="#{connect.button.fb}">Conectar</button>
					</form>
				</div>
			</div>
		</div>
		<div th:include="include :: footer"></div>
	</div>	
</body>
</html>